body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Assets/image.png");   
 background-repeat: no-repeat;
 background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 20px;
}

.header {
  padding: 40px;
  background:orange;
  border-bottom: 1px solid #999;
}
.header a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 5px;
  font-size: 2em;
}
.header a:hover {
  color: whitesmoke;
}
.header small {
  color: orchid;
}
.header .active {
  color: #2c7613;
}
/*  
.contain {
  background-image: url("./Assets/image.png");   
  display: flex; 
  position: absolute;
} */

.home1 {
  /* color: salmon; */
  font-size: 64px;
  align-items: center;
  text-align: center;
  font-family: cursive;
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
                     
}

.quote {
  font-size: 4em;
  align-items: center;
  text-align: center;
}

#quoteChange {
  font-size: 3rem;
     padding: auto;
     text-align: center;
     font-family: 'Satisfy', cursive;
     text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00; color: black;
     -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0);  
font-weight: bold;
}
   

#search {
  position: absolute;
  top: 12px;
  right: 90px;
  align-items: center;
  height: 64px;

}

.visually-hidden {
width: 64px;
}

.dashContain{
  display: flex;

}
.dashimg{
position: relative;
max-width: 25rem;
max-height: 25rem;
}

.footer{ 
  padding-top: 1rem;
  position: fixed;
  left:0;
  bottom: 0;
 /* justify-content: center; */
  width: 100%;
  display: flex;
  border-radius: 15%;
  border: solid #CBF3F0 .5rem;
  background-color: #2EC4B6;
  max-height: 10rem;
}

.footer-bg{
  padding: 2rem 0 3rem;
  /* text-align: center; */
  width: 100%;
  height: auto;
}

.footer-container{ 
  flex-direction: row;
  row-gap: 2rem;
  /* justify-content: center; */
  display: flex;
  /* width: 100%;
  height: auto; */
  justify-content: space-evenly;
}

.footer-title{ 
  margin-top: 0;
  font-size: 1.5rem;
  /* justify-content: center; */
  margin-left: 40%;
  margin-right: 30%;
}

.footer-links{ 
  flex-direction: row;
  row-gap: .5rem;
  text-align: left !important;
}
.contact {
display: flex;
flex-direction: row;
margin-bottom: 2rem;
}
.footer p {
justify-content: flex-start;
}
.logout{
/* justify-content: flex-end; */
margin: 1rem;
border-radius: 15%;
background-color: #FF9F1C;
}

.logout:hover{
  background-color: #FFBF69;
}
 
.loginsystem {
  position: fixed;
            width: 350px;
            height: 300px;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -175px;
            background: #07A8C3;
            padding-top: 10px;
}
.card-header {
  border-bottom: solid 1px #ECF2F5;
            padding-left: 18px;
            padding-bottom: 10px;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            font-family: sans-serif;
}
 .form-input {
  font-size: 14px;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 300px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f5f5;
  font-size: 14px;
 }

 .btn-submit {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #07A8C3;
    background-image: -moz-linear-gradient(top left 90deg, #07A8C3 0%, #6EE4E8 100%);
  background-image: linear-gradient(top left 90deg, #07A8C3 0%, #6EE4E8 100%);
  border-radius: 30px;
  border: 1px solid #07A8C3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#07A8C3), to(#6EE4E8));

 }
.textarea {
  width: 50%;
 border-radius: 5px;
 margin: 7px 0;
 border: 1px solid #ccc;
 padding: 25px 50px; 
 display: inline-block;
 box-sizing: border-box;
} 
.comments {
  width: 20%;
  border: none;
  color: white;
  padding: 14px 20px;
  background-color: #01c9fb;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  
}
 

/* #search > input[type="text"] {
  border: none;
  padding: 8px 14px;
  color: #666;
  width: 230px;
  font-size: 14px;
  transition: all .3s ease-in-out;
  background-color: #c3d8fd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search > input[type="text"]:focus {
  outline: none;
}

.search > input[type="submit"] {
  border: none;
  padding: 8px 14px;
  color: #c3d8fd;
  font-size: 14px;
  transition: all .3s ease-in-out;
  background-color:  #2E67A0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.search > input[type="submit"]:hover {
  background-color: #1C3F6E;
  color: #FFF;
}

.search > input[type="submit"]:focus {
  outline: none;
} */
